!!! 5
%html(lang="en" id="ng-app" ng-app="medSupplies")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "PC Medical Supplies"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"


  %body
    .flash
      - flash.each do |name, msg|
        %div(class="alert alert-#{name}")
          = msg

    = yield

    = javascript_include_tag "application"